/*referenciar outros arquivos css*/

@import'fonts.css';
@import'/css/reset.css';
@import'/css/login.css';
@import'/css/register.css';
@import'/css/sidebar.css';
@import'/css/header.css';
@import'/css/main.css';
@import'/css/perfil.css';
