.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid rgba(0,0,0,.0625);

}


.flex-dashboard header a{
    text-decoration: none;
    color: #434444;
}


.flex-dashboard header a:hover{
    text-decoration: none;
    color: rgb(147, 70, 224);
    /*font-weight: bold;*/
}


.flex-dashboard header a > svg{
    color: rgb(84, 38, 156);
}