main{
    display: block;
    height: 100%;
    background-color:#f9fafb;
    width: calc(100% - 300px);
}

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}

.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar
{
	width: 8px;
    background-color: #F5F5F5;
    
}

.main-content::-webkit-scrollbar-thumb
{
	background-color: #792fce;
    /*border: 2px solid #b542eb;*/
    border-radius: 10px;
}


.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid transparent; /*aqui devo alterar a cor do panel*/
    margin: 10px 0;
}

.panel-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
  
}

.panel-50{
    width: 48%;
}

.panel-row button{
    height: 180px;
    background-color:#8A36DE;
    box-shadow: 0px 8px 28px rgba(134, 118, 251, 0.6);
    color: white;
    font-size: 20px;
}

.panel-row button svg{
    margin-bottom:10px;
    font-size: 22px;
}


.panel-row button:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

div#ajax-content{
    width: 100%;
    /*border: 1px solid red;*/
    /*height: 200px;*/
    margin-top: 20px;
    /*padding: 20px;*/
    background-color: white;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

div#ajax-content button{
    background: linear-gradient(180deg, #b721f3 100%, #AB17f1 100%);
    color: white;
}

div#ajax-content button:hover{
   box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
    background-color: rebeccapurple;
    transform: scale(1.02);
    transition: .3s;
}

div#ajax-content table svg{
    cursor: pointer;
}

.dynamic-content{
    padding: 20px;
}

div.main-content-title{
    padding: 5px 0;
}

div.main-content-title h2{
    text-transform: uppercase;
    font-size:18px;
    color: rgb(94, 94, 94);
    
}

div.imc-parent{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

div.imc{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    padding: 40px 20px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
}

div.imc h2{
    font-weight: lighter;
    color: #72777a;
}

div.imc h2 span:nth-child(2){
    color: #8A36DE;
    font-weight: 600;
}

div.dashboard-content{
    padding:10px 0;
}

.dashboard-flex-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
}


.dashboard-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    max-width: 350px;
    height: 210px;
    background-color: white;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 20px;  /*presta atenção
    /*flex-wrap: wrap;*/
}


.dashboard-box:hover{
    background-color:#8A36DE;
    color: white;
    box-shadow: 0px 8px 28px rgba(134, 118, 251, 0.6);
   transition: .3s;
   transform: scale(1.05);
  
}



div.box-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;/*presta atençao  30pc*/
    color: white;
}

div.box-icon svg{
    font-size: 28px;
}

div.value{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

div.type{
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.box-weight{
    background-color: #8A36DE;
    color: white;

}

.box-pressure{
    background-color: #8A36DE;
    color: white;

}

.box-imc{
    background-color: #8A36DE;
    color: white;

}

.box-workout{
    background-color: #8A36DE;
    color: white;

}

div.box-value-percentual{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

div.box-value-percentual svg{
    margin-right: 10px;
}

