div.perfil-parent{
    padding:10px 0;
}

div.perfil-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 40px 20px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);

}

div.perfil-img{
    width: 40%;
}

div.perfil-form{
    padding-left: 20px;
    width: 60%;
}

div.perfil-form label{
    font-size:14px;
}

div.perfil-form input,
div.perfil-form select {
    font-size: 14px;

}


div.perfil-form .custom-file-input{
    margin-top:1rem;
}

div.perfil-form button{
    margin-top: 10px;
    background-color: #8A36DE;
    border-radius: 6px;
    color:white;
    box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
    width: 20%;
    padding: 8px;

}

div.perfil-form button:hover{
    color:white;
    background-color: #6715B8;
    box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
    transform: scale(1.05);
    transition: .2s;



}


div.img{
    height: 500px;
    width: 400px;
    /*border: 1px solid red;*/
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

