.register-parent{
    height: 100%;
    padding: 0 2%;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 750px;
}

.register{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color:white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.19);
    

}

.register-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.register-title img{
    width: 200px;
    height: auto;

}

.register-title h2{
    font-size: 20px;
    font-weight: 600;
}

.register .form-group label{
    font-size: 14px;
}

.register .form-group input{
    font-size: 14px;
}

.register button{
    width: 100%;
    background: linear-gradient(180deg, #b721f3 0%, #AB17f1 100%);
    border-radius: 25px;
    padding: 15px;
    color:white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.register button:hover{
    color:white;
    /*transform: scale(1.02);
    transition: .2s;*/
    background: linear-gradient(180deg, #9f35c9 0%, rgb(151, 34, 206) 100%);
    font-weight: 600;
}





/*media query*/

