<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../imagens/heartbeat_editado.png" alt="Foto Heartbeat">
                <h2>Health Track</h2>

            </div><!--div sidebar title-->

            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="dashboard.html">Dashboard</a>

                    <li>
                        <i class="fas fa-user"></i>
                        <a href="/views/perfil.html">Perfil</a>
                    </li>


                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="gerenciarPeso.html">Peso e Altura</a>
                    </li>


                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="/views/bpm.html">Pressão Arterial</a>
                    </li>


                    <li>
                        <i class="fas fa-dumbbell"></i>
                        <a href="/views/atividades.html">Atividades Físicas</a>
                    </li>


                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="/views/nutricao.html">Dieta</a>
                    </li>


                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="/views/imc.html">IMC</a>
                    </li>
                </ul>

            </div><!--div menu-->

        </sidebar>
        <main>
            <header>
                <a href="#"><i class="fas fa-home"></i> Dashboard</a>
                <a href="../index.html"><i class="fas fa-sign-out-alt"></i> Logout</a>

    
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Dashboard</h2>
                </div><!--div main content title-->
                <div class="dashboard-content">
                    <div class="dashboard-flex-parent">
                        <div class="dashboard-box">
                            <div class="box-icon box-weight">
                                <i class="fas fa-weight"></i>
                            </div>
                            <div class="value">80kg</div>
                            <div class="type">PESO ATUAL</div>
                            <div class="box-value-percentual">
                                <i class="fas fa-chevron-up"></i>
                                15%
                            </div>
                        </div><!--div dashboard box-->

                        <div class="dashboard-box">
                            <div class="box-icon box-pressure">
                                <i class="fas fa-heartbeat"></i>
                            </div>
                            <div class="value">23MMHC</div>
                            <div class="type">PRESSÃO ARTERIAL</div>
                            <div class="box-value-percentual">
                                <i class="fas fa-chevron-down"></i>
                                <span>20%</span>
                            </div>
                        </div><!--div dashboard box-->


                        <div class="dashboard-box">
                            <div class="box-icon box-imc">
                                <i class="fas fa-calculator"></i>
                            </div>
                            <div class="value">23,2</div>
                            <div class="type">IMC</div>
                            <div class="box-value-percentual">
                                <span>NORMAL</span>
                            </div>
                        </div><!--div dashboard box-->


                        <div class="dashboard-box">
                            <div class="box-icon box-workout">
                                <i class="fas fa-biking"></i>
                            </div>
                            <div class="value">BICICLETA</div>
                            <div class="type">ATIVIDADE FÍSICA</div>
                            <div class="box-value-percentual">
                                <i class="far fa-clock"></i>
                                <span>24/04/2020</span>
                            </div>
                        </div><!--div dashboard box-->

                    </div><!--div flex parent-->

                </div><!--div dashboard content-->

            </div><!--div main content-->
        </main>
        </div>
        



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/fontawesome/js/all.min.js"></script>
<script src="/js/ajax.js"></script>
    
</body>
</html>