<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Track - Registrar</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../imagens/img01_mod.png" alt="Imagem pessoa meditando">
                <h2>Health Track</h2>

            </div>
            <form>
                <!--nome-->
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Digite seu nome completo">
                  </div>

                  <!--data-nascimento-->
                <div class="form-group">
                    <label for="age">Data de Nascimento</label>
                    <input type="date" class="form-control" id="age" placeholder="Data de Nascimento">
                  </div>

                  <!--genero-->
                  <div class="form-group">
                    <label for="genre">Gênero</label>
                    <select class="form-control" id="genre">
                        <option>Masculino</option>
                        <option>Feminino</option>
                        <option>Não-Binário</option>
                      </select> 
                  </div>

                  <!--email-->

                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn">Registrar</button>
              </form>



        </div><!--div final register-->
        


    </div><!--final div register-parent-->
    
   






    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    
</body>
</html>